@media only screen and (max-width:768px){
    .landing-img{
        height: fit-content;
        margin-top: 10%;
    }
    .landing-img img{
        padding: 0;
        width: 50%;
    }
    #description{
        margin-top: 15px;
    }
    #description p {
        font-size: 1rem;
    }
    #about-child {
        height: fit-content;
    }
    #cards-slot {
        height: fit-content;
    }
    #cards{
        margin-bottom: 20px;
    }
    #about-img{
        display: flex;
        justify-content: center;
    }
    #service{
        height: fit-content;
    }
    #service h3{
        font-size:1.7rem;
    }
    #contact{
        height: fit-content;
        margin-bottom: 30px;
        scroll-margin-top: -40px;
    }
    #contact h3{
        font-size: 1.7rem;
        margin-top: 40px;
    }
    #btn{
        width: 70%;
        height: 50px;
    }
    #container{
        height: fit-content;
    }
    #landing-page{
        /* height: 100vh; */
    }
    #About{
        scroll-margin-top: 40px;
    }
    #about-child{
        margin-top: 75px;

    }
    .skills{
        margin-top: 10px;
    }
}
@media only screen and (max-width:991px) and (min-width:769px){
    .landing-img{
        margin-top: 10%;
        height: fit-content;
    }
    .landing-img img{
        padding: 0;
       width: 50%;
    }
    #btn{
        width: 70%;
        height: 60px;
    }
    #about-child {
        height: fit-content;
    }
    #cards-slot {
        height: fit-content;
    }
    #contact{
        
    }
    #cards{
        margin-bottom: 20px;
    }
    #about-img{
        display: flex;
        justify-content: center;
    }
}